body {
  background-color: darkslateblue;
  color: white;
  margin: 20px;
  font: 36px Impact, sans-serif; 
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  background-color: MediumSlateBlue;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  padding: 0;
  font-size: 84px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.square:focus {
  outline: none;
  background-color: darkslateblue;
  color: rgb(156, 145, 234);;
}

.square:hover {
  outline: none;
  background-color: rgb(156, 145, 234);
  color: darkslateblue;
}

.status {
  margin: 20px;
  font: 28px 'Arial Narrow Bold', sans-serif; 
  text-align: center;
  color: rgb(156, 145, 234);; 
}
